:root {
    --test : 1px solid red;
}

body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #282D35;

}

.navbar {
  display: flex;
  align-items: center;
  background-color: #21222a;
}

.img {
  padding: 1em;
  width: 100px;
}

.navbar h3 {
    color: #61dafb;
    font-weight: 700;
    font-size: 22px;
}

.navbar h4 {
    margin-left: auto;
    color: #deebf8;
    padding: 1em;
}

main {
    padding: 57px;
    color: white;
    background: no-repeat url('./images/react-small.png')  right;
}

main h1 {
    font-size:39px;
    letter-spacing: -0.5em;
    transition: 1s ease-in-out;
}

main h1::before{
    content: "";
    position: absolute;
    left: 40px;
    height: 50px;
    width: 400px;
    background-color: black;
    transition: 2s ease-in-out;
}

main h1:hover::before {
    opacity: 0;
}

main h1:hover {
    font-size:39px;
    letter-spacing: -0.05em;
}

main ul {
    margin-top: 46px;
    max-width: 400px;
}

main ul li{
    line-height: 19px;
    padding-block: 10px;
}

main ul li::marker {
    font-size:1.4rem;
    color: #61dafb;
}